{% extends 'base.html' %}

{% load static %}

{% block additional_header %}
<script>
  jQuery(function ($) {
    // $("#document-list-table").DataTable();
    $("#document-group-table").DataTable();
    $("#document-upload-table").DataTable();
    $('#expandable-table-header-row').ExpandableTable('toggleRow')
  });
</script>
<link rel="stylesheet" href="{% static 'css/management.css' %}">
{% endblock %}

{% block content %}
<div style="height: calc(100% - 50px);">
  <div>
    <div class="card m-3" style="min-height: 620px;">
      <div class="card-header">
        <h3 class="card-title">Files</h3>
      </div>
      <div class="card-body">
        <table id="document-list-table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>AgreementNum</th>
              <th>契約書</th>
              <th>タイプ</th>
              <th>契約締結日</th>
              <th>最終更新日</th>
              <th>削除</th>
            </tr>
          </thead>
          <tbody>
            {% for pdf in pdfs %}
            <tr data-widget="expandable-table" aria-expanded="false">
              <td><i class="expandable-table-caret fas fa-caret-right fa-fw"></i>1000</td>
              <td><a href="{{ pdf.document.url }}" target="_blank">{{ pdf.name }}</a></td>
              <td>ISDA02</td>
              <td>2024/3/27</td>
              <td>2024/3/28</td>
              <td><button onclick="deletePdf('{{ pdf.id }}')" class="delete-btn">✕</button></td>
            </tr>
            <tr class="expandable-body" data-widget="expandable-table" aria-expanded="false">
              <td><i class="expandable-table-caret fas fa-caret-right fa-fw"></i>1000</td>
                <td><a href="{{ pdf.document.url }}" target="_blank">{{ pdf.name }}</a></td>
                <td>MA</td>
                <td>2024/3/27</td>
                <td>2024/3/28</td>
                <td><button onclick="deletePdf('{{ pdf.id }}')" class="delete-btn">✕</button></td>
          </tr>
          <tr class="expandable-body">
            <td>
              <p>1000
              </p></td>
            <td><a href="{{ pdf.document.url }}" target="_blank">{{ pdf.name }}</a></td>
            <td>AMEND</td>
            <td>2024/3/27</td>
            <td>2024/3/28</td>
            <td><button onclick="deletePdf('{{ pdf.id }}')" class="delete-btn">✕</button></td>
      </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  <div class="card mx-5" style="width:50%; margin: 5px;">
    <div class="card-header">
      <h2 class="card-title">Upload</h2>
    </div>
    <div class="card-body"></div>
      <form id="uploadForm" class="input-group" action="{% url 'management:upload_pdf' %}" method="post"
        enctype="multipart/form-data" class="upload-form">
        {% csrf_token %}
        <input type="file" id="pdfInput" name="pdf_files" multiple onchange="handleFileSelect()" class="file-input">
        <table id="document-upload-table" class="table table-bordered table-striped" style="background-color: #fff;"></table>
        <button type="submit" id="uploadBtn" class="upload-btn" style="display: none;">アップロード</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function deletePdf(pdfId) {
    if (confirm("このPDFを削除しますか？")) {
      fetch(`/delete/${pdfId}/`, {
        method: 'POST',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ pdf_id: pdfId })
      }).then(response => {
        if (response.ok) {
          location.reload();
        } else {
          alert('削除中にエラーが発生しました。');
        }
      });
    }
  }

  function handleFileSelect() {
    var fileInput = document.getElementById('pdfInput');
    var uploadTable = document.getElementById('document-upload-table');
    var uploadBtn = document.getElementById('uploadBtn');

    uploadTable.innerHTML = "<thead><tr><th>PDF</th><th>Progress</th></tr></thead>";
    const tbody = document.createElement("tbody");
    for (var i = 0; i < fileInput.files.length; i++) {
      const tr = document.createElement("tr");
      tr.innerHTML = `<td><a href='${fileInput.files[i].url}' target='_blank'>${fileInput.files[i].name }</a></td>`;
      tr.innerHTML += `<td></td>`;
      tbody.appendChild(tr);
    }
    uploadTable.appendChild(tbody);

    if (fileInput.files.length > 0) {
      uploadBtn.style.display = 'inline-block';
    } else {
      uploadBtn.style.display = 'none';
    }
  }

  function uploadFile(file, listItem) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{% url "management:upload_pdf" %}', true);
    var formData = new FormData();
    formData.append('pdf_files', file);
    xhr.upload.onprogress = function (e) {
      if (e.lengthComputable) {
        var progress = (e.loaded / e.total) * 100;
        listItem.textContent = file.name + ' - アップロード中... ' + Math.round(progress) + '% 完了';
      }
    };
    xhr.onload = function () {
      if (xhr.status === 200) {
        listItem.textContent = file.name + ' - アップロード完了';
      }
    };
    xhr.onerror = function () {
      listItem.textContent = file.name + ' - アップロード中にエラーが発生しました';
    };
    xhr.send(formData);
  }
</script>
{% endblock %}