[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "==0.27.8"
pydantic = "==1.10.12"
stability-sdk = "*"
langchain = "==0.0.266"
llama-index = "==0.8.5"
pypdf = "==3.15.2"
nltk = "==3.8.1"

[dev-packages]

[requires]
python_version = "3.10"
