{% extends "base.html" %}


{% block content_outer %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <span>{{ issue.title }}</span>
        </div>
        <div class="card-body">
            <textarea style="width: 100%; max-height: 200px;">{{ issue.description }}</textarea>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary btn-sm">更新</button>
            <button type="submit" class="btn btn-danger btn-sm" onclick="location.href='{% url 'delete_issue' issue_id=issue.pk %}'">削除</button>
        </div>
    </div>

    <div class="timeline">
        <!-- Timeline time label -->
        <!-- <div class="time-label">
            <span class="bg-green">23 Aug. 2019</span>
        </div> -->
        {% for comment in issue.comments.all %}
        <div>
            <!-- Before each timeline item corresponds to one icon on the left scale -->
            <!-- <i class="fas fa-envelope bg-blue"></i> -->
            <!-- Timeline item -->
            <div class="timeline-item">
                <!-- Time -->
                <span class="time"><i class="fas fa-clock"></i> {{ comment.posted_at }}</span>
                <!-- Header. Optional -->
                <h3 class="timeline-header">{{ comment.posted_by }}</h3>
                <!-- Body -->
                <div class="timeline-body">
                    {{ comment.comment }}
                </div>
                <!-- Placement of additional controls. Optional -->
                <div class="timeline-footer">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary btn-sm">更新</button>
                        <button type="submit" class="btn btn-danger btn-sm" onclick="location.href='{% url 'delete_issue_comment' issue_comment_id=comment.pk %}'">削除</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="new_comment" class="card">
        <div class="card-header">
            <span>Comment</span>
        </div>
        <form method="POST">
            <div class="card-body">
                {% csrf_token %}
                {{ comment_form.as_p }}
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary btn-sm">投稿</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}