{% load adminlte_helpers i18n %}
{% load static %}
{% load django_bootstrap5 %}

<html class="h-100">
    <head>
        {% block additional_header %}
        {% endblock %}
        
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        
        <title>RAG Chat</title>
        <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
        <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

    </head>
    <body class="h-100">
        <header class="w-100 d-flex justify-content-between align-items-center bg-dark px-3">
            <h1 class="fw-bold" style="color: #fff;">RAG Chat</h1>
            <ul class="navbar-nav d-flex flex-row center">
                <li class="nav-item mx-3 text-muted header-nav-link">
                    <a class="nav-link active" aria-current="page" href="{% url 'management:pdf_list' %}" style="color: #fff;">Home</a>
                </li>
                <li class="nav-item mx-3 text-muted header-nav-link">
                    <a class="nav-link" href="{% url 'chat_bot:chat_bot' %}" style="color: #fff;">Chat Bot</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <form action="{% url 'accounts:logout' %}" method="post" name="f_logout">
                        {% csrf_token %}
                        <input type="hidden" value="logout">
                        <a href="javascript:f_logout.submit()" class="logout nav-link" style="color:#fff">ログアウト</a>
                    </form>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a></li>
                {% endif %}
            </ul>
        </header>

        {% block content %}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </body>
</html>