[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap5 = "*"
django-rest-framework = "*"
openai = "*"
django-tables2 = "*"
django-adminlte-3 = "*"
pypdf2 = "*"
langchain = "*"
pdf2image = "*"
llama-index = "*"
pytesseract = "*"

[dev-packages]

[requires]
python_version = "3.10"
